[Unit]
Description=Python HTTP Daemon
After=network.target

[Service]
User={{daemon_user}}
Type=simple
ExecStart=/usr/bin/python3 /opt/python-daemon/python-daemon-http.py
Restart=always

[Install]
WantedBy=multi-user.target
